

<div class="modal fade bd-example-modal-sm" id="add_member_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document" id="modal_content">
		
		<div class="modal-content">
			<div class="modal-header text-center justify-content-center ">
				<h5 class="modal-title  " id="exampleModalLabel">افزودن اعضای جدید</h5>

			</div>
			<div class="modal-body  text-center">
				<input class="form-control btn mb-4" type="text" onkeyup="searchUsers()" id="search_userName_text" placeholder="جستجو کنید" />

				<label class="mb-2">نتایج جستجو</label>
				<ul id="users_list">
					
				</ul>
			</div>



			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
				<button type="submit" class="btn btn-primary">ایجاد </button>
			</div>
		</div>

	</div>
</div>
