<div class="header">
	<img src="/assets/home_page/img/Default.jpg" />
	<h2>علی</h2>
</div>
<div class="chats">
	<div class="chat-me">
		<div class="chat">
			<p>سلام خوبی چه خبر ؟ </p>
			<span>2020/06/05</span>
		</div>
	</div>
	<div class="chat-you">
		<div class="chat">
			<p>سلام ممنون یه خبر خیلییی خوبی دارم برات</p>
			<span>2020/06/05</span>
		</div>
	</div>
	<div class="chat-me">
		<div class="chat">
			<p>چی ؟!!</p>
			<span>2020/06/05</span>
		</div>
	</div>
	<div class="chat-you">
		<div class="chat">
			<p>توی سایت codeYad دوره SignalR رایگان برگزار شده</p>
			<span>2020/06/05</span>
		</div>
	</div>
</div>
<div class="footer">
	<form>
		<input type="text" class="form-control" placeholder="متن خود را وارد کنید">
		<button class="btn btn-success">
			ارسال
			<i class="fa fa-send"></i>
		</button>
	</form>
</div>