<!-- Modal -->
<form class="modal fade" id="createGroup_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onsubmit="createNewGroup(event)">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center justify-content-center ">
				<h5 class="modal-title  " id="exampleModalLabel">ایجاد گروه </h5>

			</div>
			<div class="modal-body  text-center">
				<input class="form-control btn mb-4" type="text" id="group_title" placeholder="نام گروه را بنویسید..." />

				<label class="mb-2">انتخاب عکس</label>
				<input class="form-control btn" type="file" id="group_image" />



			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
				<button type="submit" class="btn btn-primary">ایجاد </button>
			</div>
		</div>
	</div>
</form>