
<partial name="Modals/_CreateGroupModal" />
<div class="disConnect ">

	<div class="loading" style="width: 10%; height: 10%; border-radius: 100%;">
	</div><div id="loading-text">
		ارتباط قطع شد...<br />
		...در حال ارتباط گیری مجدد
	</div>

</div>
<div class="row">

	<div class="col-8 chat-content" id="chat_content">
	</div>

	<div class="col-4 rooms" id="user_groups">
	</div>
</div>

@section scripts
{
	<script>


		var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

		connection.on("receiveChat", displayNewChat);

		connection.on("receiveChatNotification", displayChatNotification);

		connection.on("receiveChatGroupNotification", displayNotification);

		connection.on("receiveChatGroup", displayChatGroup);

		connection.on("receiveOperationResult", displaySweetAlert);

		connection.on("receiveNewChatGroup", displayNewChatGroup);

		connection.on("receiveFile", displayNewFile);

		function start() {

			try {
				connection.start();
				console.log("start");
				$(".disConnect").hide();
			} catch (e) {
				console.log("connection disconnected!");
				$(".disConnect").show();
				setTimeout(start, 3000);

			}

		}

		start();

		connection.onclose(start);


		function displayChatNotification(data) {

			var title = data.groupName;
			var body = `${data.userName} :  \n ${data.chatBody}`;
			if (currentGroupId !== data.groupId.toString()) {
				var notification = new Notification(title,
					{
						body: body
					});

			}
		}

		function displayNotification(data) {

			var title = data.title;
			var body = data.body;
			var notification = new Notification(title,
				{
					body: body
				});


		}

		function displaySweetAlert(result) {

			if (result) {

				var status = result.status;
				var message = result.message;
				var isReload = result.isReload;

				if (status == 200) {
					Success("!عملیات موفق", message, isReload);
				}
				if (status == 10) {
					ErrorAlert("عملیات ناموفق!", message, isReload);
				}
				if (status == 404) {
					ErrorAlert("خطا!", message, isReload);
				}

			}

		}

		function displayNewChatGroup(userGroup) {

			if (!userGroup)
				return;


			$("#search_ul").prepend(`

																	<li data-token="${userGroup.token}" onclick="getGroupChats(event)">
														${userGroup.title}
																			<img src="/assets/home_page/img/group_img/${userGroup.imageName}" alt="Avatar" />
																			<div class="text-start">
																				<span>${userGroup.lastChat}<br/>${userGroup.lastChatDate}</span>
																			</div>

																		</li>

															`);

		}


		function displayNewChat(data) {


			if (!data)
				return;

			var chatBody = data.chatBody;
			var createDate = data.createDate;
			var userName = data.userName;
			var userId = data.userId;
			var userId = data.userId;
			var isCallerChat = data.isCallerChat;

			console.log("test");
			if (currentGroupId !== data.groupId.toString() || currentGroupId === "undefined")
				return;
			console.log("test2");
			if (isCallerChat) {
				console.log("test2");

				$(".chats").append(`
																		<div class="chat-me">
																			<div class="chat">
																					<i> شما : </i>
																				<p> ${chatBody}</p>
																				<span>${createDate}</span>
																			</div>
																		</div>`);


			} else {

				$(".chats").append(`
																		<div class="chat-you">
																			<div class="chat">
																					<i>${userName}</i>
																				<p> ${chatBody}</p>
																				<span>${createDate}</span>
																			</div>
																		</div>`);
			}


		}

		function displayChatGroup(data) {

			$("#user_groups").prepend(`



																		`);

		}

		function displayNewFile(data) {

			console.log(data);

			var caption = data.chatBody;
			if (!caption) {
				caption = " ";
			}
			var userName = data.userName;
			var createDate = data.createDate;
			var groupId = data.groupId;
			var isCallerChat = data.isCallerChat;
			var fileName = data.fileName;


			var extension = fileName.split('.').pop();
			console.log(extension);

			if (extension === 'jpg' || extension === 'bmp' || extension === 'jpeg' || extension === 'png') {


				if (groupId.toString() === currentGroupId) {

					if (isCallerChat) {


						$(".chats").append(`
																		<div class="chat-me">
																			<div class="chat">
																					<i> شما : </i>
																					<br/>
																				<img src="/assets/home_page/img/chat_files/${fileName}" alt="image"></img>
																				<br/>
																						<p> ${caption}</p>
																				<span>${createDate}</span>
																			</div>
																		</div>`);


					} else {

						$(".chats").append(`
																		<div class="chat-you">
																			<div class="chat">
																					<i>${userName}</i>
																							<br/>
																					
																										<img src="/assets/home_page/img/chat_files/${fileName}" alt="image"></img>
																										<br/>
																												<p> ${caption}</p>
																						<span>${createDate}</span>
																			</div>
																		</div>`);
					}
				}


			} else if (extension === 'mkv' || extension === 'mp4') {

				if (groupId.toString() === currentGroupId) {

					if (isCallerChat) {


						$(".chats").append(`
																				<div class="chat-me">
																					<div class="chat">
																							<i> شما : </i>
																							<br/>
																								<video width="320" height="240" controls>
		<source src="/assets/home_page/img/chat_files/${fileName}" type="video/${extension}">
		Your browser does not support the video tag.
		</video>
																						<br/>
																								<p> ${caption}</p>
																						<span>${createDate}</span>
																					</div>
																				</div>`);


					} else {

						$(".chats").append(`
																				<div class="chat-you">
																					<div class="chat">
																							<i>${userName}</i>
																									<br/>

																															<video width="320" height="240" controls>
				<source src="/assets/home_page/img/chat_files/${fileName}" type="video/${extension}">
				Your browser does not support the video tag.
				</video>
																												<br/>
																														<p> ${caption}</p>
																								<span>${createDate}</span>
																					</div>
																				</div>`);
					}
				}

			}

		}
	</script>

}
