
<partial name="_CreateGroupModal"/>
<div class="disConnect ">

	<div class="loading"style="width: 10%; height: 10%; border-radius: 100%;">
		
	</div><div id="loading-text">
		ارتباط قطع شد...<br />
		...در حال ارتباط گیری مجدد
	</div>

</div>
<div class="row">
	
	<div class="col-8 chat-content" id="chat_content">
		
	</div>

	<div class="col-4 rooms" id="user_groups">

	</div>
</div>

			@section scripts
			{

				
				<script>


					$(document).ready(function() {

						loadUSerGroups();
						if (Notification.permission !== "granted") {
							Notification.requestPermission();

						}

						var result = getCookie("systemAlert");
						if (result) {

							result = JSON.parse(result);


						}

					});

					var currentGroupId = 0;
					var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

					connection.on("receiveChat", displayNewChat);

					connection.on("receiveNotification", displayNotification);

					connection.on("receiveChatGroup", displayChatGroup);

					connection.on("receiveOperationResult", displaySweetAlert);

					function start() {

						try {
							connection.start();
							console.log("start");
							$(".disConnect").hide();
						} catch (e) {

							$(".disConnect").show();
							setTimeout(start, 3000);

						}

					}

					connection.onclose(start);
					start();


					function getUserPrivateChats(event) {

						let userId = event.srcElement.attributes[0].value;
						console.log(userId);
						$.ajax({
							url: "/Home/GetUserChats?userId=" + userId,
							type: "get"

						}).done(function (data) {

							$("#chat_content").html(data);


						});


					}


					function displayNotification(data) {

						var title = data.groupName;
						var body = `${data.userName} :  \n ${data.chatBody}`;
						if (currentGroupId !== data.groupId.toString()) {
							var notification = new Notification(title,
								{
									body: body
								});

						}


					}

		function displaySweetAlert(result) {

			if (result) {
				console.log(result);
				var status = result.status;
				var message = result.message;
				var isReload = result.isReload;

				if (status == 200) {
					Success("!عملیات موفق", message, false);
				}
				if (status == 10) {
					ErrorAlert("عملیات ناموفق!", message, false);
				}
				if (status == 404) {
					ErrorAlert("خطا!", message, false);
				}

			}
			

			


		}

					function displayNewChat(data) {


						if (!data)
							return;

						var chatBody = data.chatBody;
						var createDate = data.createDate;
						var userName = data.userName;
						var userId = data.userId;
						var userId = data.userId;
						var isCallerChat = data.isCallerChat;
						if (isCallerChat) {


							$(".chats").append(`
						<div class="chat-me">
							<div class="chat">
									<i> شما : </i>
								<p> ${chatBody}</p>
								<span>${createDate}</span>
							</div>
						</div>`);


						} else {

							$(".chats").append(`
						<div class="chat-you">
							<div class="chat">
									<i>${userName}</i>
								<p> ${chatBody}</p>
								<span>${createDate}</span>
							</div>
						</div>`);
						}


					}

					function displayChatGroup(data) {

						console.log(data);

					}
				</script>

				<script>


					function createNewGroup(event) {

						event.preventDefault();

						var imageFile = event.target[1].files[0];
						var groupTitle = event.target[0].value;
						var isPrivate = event.target[2].checked;


						if (!groupTitle || groupTitle.trim() === "") {
							alert("لطفا نام گروه را انتخاب کنید");
							return false;
						}


						if (imageFile) {
							const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.bmp)$/i;
							if (!allowedExtensions.test(imageFile.name)) {
								alert('نوع فایل نامعتبر است. فقط JPG، JPEG، PNG و BMP مجاز هستند.');
								return false;
							}
						}

						var formData = new FormData();
						formData.append("title", groupTitle);
						formData.append("imageFile", imageFile);
						formData.append("isPrivate", isPrivate);
						$.ajax({
							url: "/Home/AddNewGroup",
							type: "Post",
							data: formData,
							encyType: "multipart/form-data",
							processData: false,
							contentType: false

						}).done(function(obj) {

							if (obj) {
								if (obj.message === "Error") {
									alert("مشکلی پیش آمده! چند لحظه دیگر دوباره تلاش کنید");
									return false;
								}
								if (obj.message === "Success") {
									$('.modal').toggle();
									
									return true;
								}
							}


							return false;

						});

						return false;
					}


					function loadUSerGroups() {

						$.ajax({
							url: "/Home/LoadUserGroupsList",
							type: "get"

						}).done(function(data) {

							$("#user_groups").html(data);
						});


					}


					function getGroupChats(event) {

						let token = event.srcElement.attributes[0].value;


						if (!token)
							return;

						$.ajax({
							url: "/Home/LoadGroupChats?token=" + token,
							type: "get"

						}).done(function(data) {

							$("#chat_content").html(data);

							currentGroupId = $("#group_id").val();
							console.log("validating currentGroupId :");
							console.log(currentGroupId);
						});


					}

					function search() {

						var title = $("#search_text").val().trim();


						if (!title) {

							loadUSerGroups();
							return;

						}

						$.ajax({
							url: `/Home/SearchUserGroups?title=${title}`,
							type: "get"

						}).done(function(data) {

							if (data.length < 1) {

								$("#search_ul").empty();
								$("#search_ul").append(`
								<div class="text-center">
								<li>
								Not Found!
								</li>
								</div>
								`);
								return;
							}

							$("#search_ul").empty();
							data.forEach(function(obj) {
								var lastChat = obj.lastChat;
								console.log(obj);
								if (obj.isUser) {
									if (lastChat) {
										$("#search_ul").append(`

														<li data-token="${obj.token}" onclick="getUserPrivateChats(event)">
										   ${obj.title}
									<img src="/assets/home_page/img/group_img/${obj.imageName}" alt="Avatar" />
									<div class="text-start">
											<span>${obj.lastChat}
											<br/>${obj.lastChatDate}
										</span>
												</div>
								</li>

									`);
									} else {
										$("#search_ul").append(`

																				<li data-token=${obj.token} onclick="getUserPrivateChats(event)">
												   ${obj.title}
													<img src="/assets/home_page/img/group_img/${obj.imageName}" alt="Avatar" />
										
										</li>

												`);


									}

								} else {

									if (lastChat) {
										$("#search_ul").append(`

																<li data-token="${obj.token}" onclick="getGroupChats(event)">
										   ${obj.title}
									<img src="/assets/home_page/img/group_img/${obj.imageName}" alt="Avatar" />
									<div class="text-start">
											<span>${obj.lastChat}
											<br/>${obj.lastChatDate}
										</span>
												</div>
								</li>

									`);
									} else {
										$("#search_ul").append(`

																<li data-token=${obj.token} onclick="getGroupChats(event)">
												   ${obj.title}
													<img src="/assets/home_page/img/group_img/${obj.imageName}" alt="Avatar" />
										
										</li>

												`);


									}
								}


							});


						});


					}

					function searchUsers() {


						var searchText = $("#search_userName_text").val().trim();

						if (!searchText)
							return;

						$.ajax({
							url: `/Home/SearchUsers?userName=${searchText}&currentGroupId=${currentGroupId}`,
							type: "get"


						}).done(function(data) {

							$("#users_list").empty();
							console.log(data);
							data.forEach(user => {
								if (user.isMember) {
									$("#users_list").append(`

					<li data-id="${user.id}">

							<div class="p-2 w-100">${user.userName}<span>(عضو)</span>
					</div>
							

					</li>

					`);
								} else {

									$("#users_list").append(`

											<li class="btn btn-info  w-100" data-id="${user.id}" onclick="addMember(event)">

									${user.userName} (افزودن به گروه)  
						
									

							</li>

							`);

								}
							});

						});

					}

					function addMember(event) {
						var userId = event.target.getAttribute('data-id');
						console.log(event);

						if (!userId)
							return;

						$.ajax({
							url: `/Home/AddMemberToGroup?groupId=${currentGroupId}&userId=${userId}`,
							type: "get"

						}).done(function(result) {
							if (result) {
								if (result.status.trim() == "success") {
									var userId = result.userId;
									var groupId = result.groupId;

									$("#users_list li").each(function() {

										if ($(this).attr("data-id") == result.userId) {
											$(this).removeAttr("onclick");
											$(this).removeClass("btn");
											$(this).removeClass("btn-info");
											$(this).text('');
											$(this).append(`<div class="p-2 w-100">${result.userName}<span>(عضو)</span>
							</div>`);

											console.log(this);
										}


									});


								}


							}
						});

					}

					


					function joinGroup(groupId) {


						if (!groupId)
							return;

						$.ajax({
							url: "/Home/JoinGroup?groupId=" + groupId,
							type: "get"

						}).done(function(data) {

							$("#chat_content").empty();
							$("#chat_content").html(data);


						});


					}

					function beginChatWithUser(userId) {


						if (!userId) {
							alert("مشکلی وجود دارد دوباره امتحان کنید");
							return;
						}

						$.ajax({
							url: "/Home/AddNewUserPrivateChatGroup?userId=" + userId,
							type: "get"

						}).done(function(data) {


							$("#chat_content").html(data);

						});

					}
				
				

				</script>

			}
